<?xml version="1.0" encoding="utf-8"?>
<!-- AndroidManifest.xml
Manifest file for this application
Created by: Gabe Shores
Created on: 2/24/24,
Last Modified by: Gabe Shores
Last Modified on: 2/29/24 ~ Target API changed
Assignment/Project: A290 Android Development Final Project
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject"
        tools:targetApi="23">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="edu.indiana.gshores.finalproject.AboutActivity">
        </activity>

        <activity
            android:name="edu.indiana.gshores.finalproject.ThemesActivity">
        </activity>

        <activity
            android:name="edu.indiana.gshores.finalproject.GameActivity">
        </activity>
    </application>

</manifest>